<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hyundai.cc.filemanage.mapper.FileMapper">

    <insert id="uploadFileToDB">
        insert into
        <choose>
            <when test="type=='profiles'">
                PROFILE_FILE
            </when>
        </choose>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type=='profiles'">
                USER_ID,
            </if>
            FILE_NAME
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type=='profiles'">
                #{id},
            </if>
            #{file.fileName}
        </trim>
    </insert>


</mapper>