<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hyundai.cc.usermanage.user.mapper.UserMapper">
    <select id="getUserList" resultType="hyundai.cc.usermanage.user.dto.UserDTO">-->
    select
            id,
           email,
           username,
           nickname,
           createdate,
           content
    from USER_INFO
    order by id desc

    </select>
    <insert id="createUser" parameterType="hyundai.cc.usermanage.user.dto.UserCreateDTO">
        INSERT INTO USER_INFO (
            id,
            email,
            username,
            nickname,
            password,
            content,
            enable
        ) VALUES (
                     #{id},
                     #{email},
                     #{username},
                     #{nickname},
                     #{password},
                     #{content, jdbcType=VARCHAR},
                     #{enable}
                 )
    </insert>


    <select id="getUserDetail" parameterType="java.lang.String" resultType="hyundai.cc.usermanage.user.dto.UserDTO">
        SELECT  id,
                email,
                username,
                nickname,
                content,
                createDate
        FROM USER_INFO
        WHERE ID = #{id}
    </select>


    <update id="updateUser">
        <![CDATA[
        UPDATE USER_INFO
        SET
            USERNAME = #{user.username},
            NICKNAME = #{user.nickname},
            CONTENT=#{user.content, jdbcType=VARCHAR},
            PASSWORD = #{user.password}
        WHERE ID = #{id}
        ]]>
    </update>

    <delete id="deleteUser" parameterType="java.lang.String">
        DELETE FROM USER_INFO WHERE ID = #{userId}
    </delete>

    <!-- READ -->
    <select id="getUsersByPage" parameterType="hyundai.cc.domain.Criteria" resultType="hyundai.cc.usermanage.user.dto.UserDTO">
        <![CDATA[
        select
            id, email, username, nickname,createdate,content,enable
        from
            (
                select /*+ INDEX_DESC(USER_INFO pk_user_info) */
                    rownum rn, id, username, email,nickname,createdate,content,enable
                from
                    USER_INFO
                where
                    rownum <= #{pageNum} * #{amount}
            )
        where rn > (#{pageNum}-1) * #{amount}
        ]]>
    </select>

    <select id="getTotalCount" parameterType="hyundai.cc.domain.Criteria" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM USER_INFO
    </select>







</mapper>